
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(30, 30, 30), rgb(80, 80, 80));
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.resume-builder {
    padding: 27px 100px;
}

.container {
    padding: 10px 30px;
    background: rgb(240, 240, 240);
    border-radius: 10px;
    height: auto;
    width: 60%;
    margin: auto;
}

.container h1 {
    text-align: center;
    background-color: green;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

input,
textarea {
    background-color: transparent;
    margin: 10px 0;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    display: block;
    width: 100%;
}

button {
    border: none;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

button:hover {
    font-size: medium;
}

.output-container {
    display: none;
    width: 60%;
    margin: 10px auto;
}

.output {
    background-color: white;
    border: 2px solid white;
    margin-bottom: 10px;
}

.heading {
    padding: 20px 10px;
    text-align: center;
    color: white;
    background-color: green;
    text-transform: uppercase;
}

.heading h4 {
    color: rgb(200, 200, 200);
    padding-top: 9px;
}

.info {
    display: flex;
    padding: 20px;
}

.left {
    width: 40%;
    border-right: 2px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right {
    width: 60%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box {
    margin: 10px 0;
    padding: 5px 10px;
    height: auto;
    overflow-wrap: break-word;
}

.box h2,
.box p {
    margin-bottom: 5px;
}

.tip {
    font-size: small;
    color: gray;
    text-align: center;
}

.credit {
    text-align: center;
    font-weight: bold;
    padding: 10px 3px;
    color: rgb(80, 80, 80);
}

a {
    color: black;
}

a:hover {
    color: rgb(247, 28, 12);
    font-weight: bold;
}

/* media queries begin */
@media screen and (max-width: 920px) {
    .container {
        width: 100%;
    }

    .output-container {
        width: 87%;
    }
}

@media screen and (max-width: 600px) {
    .resume-builder {
        padding: 10px 30px;
    }

    h1 {
        font-size: 160%;
    }

    .info {
        flex-direction: column;
    }

    .left {
        border-right: none;
        width: 100%;
    }

    .right {
        padding-left: 0;
        width: 100%;
    }
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 150px;

}
.hkresume-container {
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.hkleft-section {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid blue;
}

.hkprofie-picture {

    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid blue;
    margin-bottom: 20px;
}
h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}
h3 {
    font-size:18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow:  0 0 15px blue;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
ul{
list-style-type: fill circle;
padding: 10;
margin: 10px 0;

}
ul li {
    margin: 5px 0;
}
.hkright-section {
padding: 20px;
width: 70%
}

button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;

}
button:hover{
    background-color: blue;
}